html
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Game Server Dashboard
    link(rel="stylesheet",href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css")
    script(src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js")
    link(href='app.css', rel='stylesheet')
    script(src='app.js')
  body
    block content